#Gradle
.gradle
build/
gradle/
gradlew

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
RomanNumerals/RomanNumerals/bin/*
RomanNumerals/RomanNumerals/obj/Debug/*
RomanNumerals/RomanNumeralsTest/bin/*
RomanNumerals/RomanNumeralsTest/obj/Debug/*
MathInterpreter/MathInterpreterTest/obj/Debug/*
MathInterpreter/MathInterpreter/bin/*
MathInterpreter/MathInterpreter/obj/*
MathInterpreter/MathInterpreterTest/bin/*
Debug
